<footer>
  <div class="line"></div>
  <div class="d-flex flex-column align-items-center">
    <div class="socialnetwork">
      <div class="boxSocial">
        <a class="socialLink" href="https://github.com/CindySz" target="_blank">
          <i class="bi bi-github"></i
        ></a>
        <a
          class="socialLink"
          href="https://www.linkedin.com/in/cindyailensuarez/"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>

    <div>
      <p>Copyright 2023© by <span>Cindy Suarez</span></p>
    </div>

    <div class="pb-2"> <img src="../../../assets/img/logoArgentinaPrograma.png" alt="Logo #ArgentinaPrograma"/>
    </div>

   
    
  </div>


</footer>
