@import "~bootstrap-icons/font/bootstrap-icons.css";

footer{
background-color: #f1ece8;

min-height: 100%;



}

p{
    font-size: 1rem;
    font-family: 'Cooper Hewitt';
}

span{
    color: rgb(160, 74, 89);
    font-family: 'Cooper Hewitt';
    text-align: center;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.socialLink{
   
    text-decoration:none;
    width: 8%;
    margin-left: 10px;
    color:#E09868;}

.bi{
font-size: 24px;
}

.line{
    background-color: #c5686a3d;
    width: 100%;
    height: 0.12rem;
    
}
.aver{
    background-color: aqua;
}

img{
    width: 120px;
    background-color: rgb(128, 51, 71);
    border: solid  rgb(128, 51, 71) ;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}


