.colorPage{
    background-color: var(--first-color); 
}



.skillTitle{
    padding: 3% 4%;
}


 img.imgSize{
    width: 60%;
    height: 70px;
    padding-top: 8%;
   
}

.card{
    width: 7rem;
    height: 100%;
}

.box{

    width: 40rem;
 
}




