.homeExperience{
    background-color: var(--first-color); 
}

.expTitle{
    padding: 4% 4%;
}



img{
    width: 80px;
    border: solid 1px  #e0986846;
    background-color:  #e0986846;;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.boxImg{
    padding-right: 2rem;
  
}



