<section class="homeExperience">

   
<h2 class="expTitle text-center ">Experiencia</h2>
<div *ngFor="let item of workExperience" class="container">

<div class="box d-flex flex-row pb-4">
<div class="boxImg col-4 text-end">
    <img class="" src="../../../assets/img/sr.png" alt="Logo de Empresa"/>
</div>

<div  class="mb-4" >
    
    <ul>
    
    <li><h5>{{item.job}}  </h5></li>
    <li><h6>{{item.date}}</h6></li>
    <li> Empresa: {{item.companyName}}</li>
    <li> Descripción: {{item.description}}</li>
</ul>
  

    
</div>
</div>
</div>


</section>
