<section>

    <h2 class="educTitle text-center ">Educación</h2>
    <div class="d-flex  flex-wrap flex-row justify-content-center">

        


          <div class="card card-one">
            <header>
              <div class="avatar">
                <img src="../../../assets/img/uba.png" alt="Establecimiento Educativo" />
              </div>
            </header>
        
            <h3>Lic. en <br>Administración</h3>
            <div class="desc">
                Universidad de Buenos Aires <br> 2015-Actual.
            </div>
          
            <div class="footerClass">
            </div>
          </div>



   
  <div class="card card-one">
    <header>
      <div class="avatar">
        <img src="../../../assets/img/DH.png" alt="Establecimiento Educativo 2" />
      </div>
    </header>

    <h3>Certified Tech <br> Developer</h3>
    <div class="desc">
      Digital House <br> 2021-Actual.
    </div>
  
    <div class="footerClass">
    </div>
  </div>


  
</div>


</section>
