
<section class="homePage" >

    
    <article>
    <h1 class="hello"> ¡Hola, mundo! Soy</h1>
    <h2 class="textHomePageh2">Cindy Suarez. </h2>
    <h3 class="textHomePageh5">DESARROLLADORA FULL-STACK</h3>
    <!-- <h5 class="textHomePageh5">DESARROLLADORA FRONT-END</h5> -->
    
    <p>
        Lo que más me emociona en el desarrollo de software es poder diseñar y crear cosas que tengan un propósito y resuelvan problemas.
    <br/>Mi meta es crear buenas experencias en cada proyecto.  </p>
    <div class="pt-3">
        <a class="link-cv"> Descargar CV</a>
    </div>
    </article>
    
    <!-- <div>
        <img src="../../../assets/img/The Importance of Fresh Content for your SEO.jpg" alt="profile picture"/>
    </div> -->
    
    
    </section>
    <div class="socialnetwork">
        <div class="boxSocial">
        <a class="socialLink" href="https://github.com/CindySz" target="_blank" > <i class="bi bi-github"></i></a>
        <a class="socialLink" href="https://www.linkedin.com/in/cindyailensuarez/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <div class="line"></div>
    </div>
    </div>

    

<app-about-me id="about-me"></app-about-me>
<app-experience id="experience"></app-experience> 
<app-education id="education"></app-education>
<app-skill id="skill"></app-skill>
<app-proyect id="proyect"></app-proyect>
<app-contact id="contact"></app-contact>




    
  
    
