@import "~bootstrap-icons/font/bootstrap-icons.css";


:host{
    --first-color:#f1ece8; 
    --font-family: 'Cooper Hewitt';
    --button-color: #c56869; 
    

}




.homePage{
/* min-height: 100%; */

height: 100vh;
background-color: var(--first-color);
display: flex;
flex-direction: column;


}


.homeSection{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-left: 17%;
padding-right: 10% ;
margin-top: 10rem;
gap: 10%;



}

.hello{
    
    font-weight: 600;
    letter-spacing: .1rem;
    /* font-family: var(--font-family); */
    /* font-family: 'PT Sans'; */
    
}

.textHomePageh2{
    font-size: 3.2rem;   
    font-weight: 700;
  
}
.textHomePageh3{
   
    letter-spacing: .1rem;
    width: 21.5rem;
    border-right: .15em solid #C08B89;
    font-size: 1.25rem;
    animation: blink 1s steps(1) infinite;
    
}
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }



article{
    /*en mobile esta medida debe ser menor*/
   width: 600px;
  
 
   
}

.boxCv{

  display: flex;
  justify-content: center;
}

.link-cv{
    background-color:transparent;
    border: 2px solid var(--button-color);
    border-radius: 0.6em;
    color: var(--button-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -ms-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}


.link-cv:hover, .link-cv:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px var(--button-color) inset;
  }

 

  .line{
 display: none;
  
  }

  .socialnetwork{
    background-color: var(--first-color);
    margin-top: 2rem;
   
  
    
  }

  .boxSocial{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
  }

  .socialLink{
   
    text-decoration:none;
    color:#E09868;}

.bi{
    font-size: 24px;
   
    }

    img{
     display: none;
    }


    @media only screen and (min-width: 768px) {


      .homePage{
        
      }


      .homeSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 17%;
        padding-right: 10% ;
        padding-top: 5rem;
        gap: 10%;
        
        position: absolute;
        top: 0;
        left: 0;
        bottom: 20%;
        right: 0;
        margin: auto;
        
        }
      .line{
        display: block;
        background-color: #E09868;
        width: 6px;
        height: 10rem;
        position: relative;
        left: 0.5rem;
        
        }
      
        .socialnetwork{
          background-color: var(--first-color);
          position: absolute;
          bottom: 0;
          left: 4%;
          
        }
      
        .boxSocial{
          
          width: 20%;
          position: relative;
          left: 4%;
          display: flex;
          flex-direction: column;
          gap: 0;
          
        }

        .boxCv{
          display: block;
        }

        img{
          display: block;
          width: 100%;
        }

    }
    