
<div class="homePage">
    <div>
<section  class="homeSection">

    
    <article>
    <h1 class="hello"> ¡Hola, mundo! Soy</h1>
    <h2 class="textHomePageh2">Cindy Suarez. </h2>
    <h3 class="textHomePageh3">DESARROLLADORA FULL-STACK</h3>
    
    
    <p>
        Lo que más me emociona en el desarrollo de software es poder diseñar y crear cosas que tengan un propósito y resuelvan problemas.
    <br/>Mi meta es crear buenas experencias en cada proyecto.  </p>
    <div class="boxCv pt-3">
        <a class="link-cv" href="https://drive.google.com/file/d/1pDWoIwSYVuPtdZZ221FquBe6FV0ZJhJF/view?usp=sharing" Target="_blank" > Descargar CV</a>
    </div>
    </article>
    
    <div>
        <img src="../../../assets/img/profile2.jpg" alt="profile picture"/>
    </div>

    
    
    
    </section>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#c08b89" fill-opacity="0.8" d="M0,160L40,176C80,192,160,224,240,250.7C320,277,400,299,480,282.7C560,267,640,213,720,176C800,139,880,117,960,128C1040,139,1120,181,1200,170.7C1280,160,1360,96,1400,64L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg> -->
</div>


    <div class="socialnetwork">
        <div class="boxSocial">
        <a class="socialLink" href="https://github.com/CindySz" target="_blank" > <i class="bi bi-github"></i></a>
        <a class="socialLink" href="https://www.linkedin.com/in/cindyailensuarez/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <div class="line"></div>
    </div>

    
    </div>
    
       
   

    

</div>



    

<app-about-me id="about-me"></app-about-me>
<app-experience id="experience"></app-experience> 
<app-education id="education"></app-education>
<app-skill id="skill"></app-skill>
<app-proyect id="proyect"></app-proyect>
<app-contact id="contact"></app-contact>




    
  
    
