@import "~bootstrap-icons/font/bootstrap-icons.css";


.educTitle{
    padding: 3% 4%;
}


img{
  width: 100%;
  height: 15rem;
  border-radius:  10px ;
  -webkit-border-radius:  10px ;
  -moz-border-radius:  10px ;
  -ms-border-radius:  10px ;
  -o-border-radius:  10px ;
  border:solid 2px  #eca0a1;
}

.ag-format-container {
    width: 100%;
  }
  

  .ag-courses_box {
    padding: 5px;
    width:100%;
  }

  .ag-courses_item {
    overflow: hidden;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}

  .ag-courses-item_link {

    display: block;
    padding: 30px 20px;
    background-color:  #e0986846;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date,.ag-courses-item_link:hover .ag-courses-item_title {
    color: rgb(255, 255, 255)  
  }

  .ag-courses-item_link:hover  .buttonProyect{
    color: #393636;
    outline: 0;
    box-shadow: 0 0 40px 40px #fadac4d4 inset;
    border: solid #fadac4 ;
  }

  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }

  .ag-courses-item_title {
    min-height: 87px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #a9595a;
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date-box {
    font-size: 18px;
    color: black;
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date {
    font-weight: bold;
    color:#130a0a;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 175px;
    width: 142px;
    background-color: #c56869;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .buttonProyect{
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 2px solid var(--button-color);
    border-radius: 0.6em;
    color: var(--button-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -ms-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

  
 
  
  
  
  input{
    background:none;
     border:none;
      outline:0; 
     margin:0; 
     padding:0;
    width: 100%;
   
    
    
 
}
textarea{
  background:none;
  border:none;
  outline:0;
  margin:0;
  padding:0;
  resize: none;
   width: 100%;
  height: 8rem;
  

}

button{
  background-color: transparent;
 
border: 2px solid var(--button-color);
border-radius: 0.6em;
color: var(--button-color);
cursor: pointer;
font-size: 1rem;
font-weight: 600;
line-height: 1;
padding: 0.5em 0.4em;
margin-left: 1rem;

}


.bi{
    color: rgb(158, 18, 51);
    font-size: 22px;
    padding-left: 1.2rem;
    cursor: pointer;
}

.bi-check-circle-fill, .bi-x-circle-fill {
  padding-left: 0rem;}
  .bi-plus-circle-fill{
    font-size: 38px;
}

.boxSmall{
   text-align: center;

}
.inputPost{
  width: 100%;
}

ul {
  list-style: none;
}

.hola{
  background-color:pink;


}

.aver{
  background-color: yellow;


  
}

.containerCards{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

@media only screen and (min-width: 543px){

  .ag-courses_box {
   
    width: 34rem;
  }

}