<section>

    <div class="container pb-5">

    <h2 class="educTitle text-center ">Proyectos</h2>
    <div class="d-flex flex-row flex-wrap justify-content-center gap-3">
        <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <div  class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Portafolio
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    <p class="ag-courses-item_date">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorem, suscipit maiores aut ex architecto omnis rem officia iste alias doloribus. Fugit repellendus nesciunt sit inventore at? Nam, laudantium sed?  Nam, laudantium sed?  Nam, laudantium sed? Nam, laudantium sed? 
                  </div>
                  <button class="buttonProyect"> Código</button>
                </div>
              </div>
          
              
          </div>

          
        </div>

        <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <div  class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Portafolio
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    <p class="ag-courses-item_date">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorem, suscipit maiores aut ex architecto omnis rem officia iste alias doloribus. Fugit repellendus nesciunt sit inventore at? Nam, laudantium sed?  Nam, laudantium sed?  Nam, laudantium sed? Nam, laudantium sed? 
                  </div>
                  <button class="buttonProyect"> Código</button>
                </div>
              </div>
          
              
          </div>

          
        </div>


  
</div>
</div>

</section>
